# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.venv/
*.exe
*.tmp
*.obj
misc.xml
modules.xml
profiles_settings.xml
PythonProject_HW_Git_Hub.iml
vcs.xml